<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory>./mid</directory>
        </include>
        <report>
            <html outputDirectory="build/coverage"/>
        </report>
    </coverage>
</phpunit>
